<form id="mainForm" #mainForm="ngForm" (ngSubmit)="createContest(mainForm)" >

<mat-form-field appearance="outline" id="contestForm">
  <mat-label>Contest Name</mat-label>
  <input ngModel name="contestName"  matInput type="name" placeholder="Ex. CodeHex Contest" required>
</mat-form-field>

<div id="problemForm">
  <label>Problem 1</label>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Problem Name</mat-label>
    <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Difficulty</mat-label>
    <mat-select ngModel name="problemDiff[]" required>
      <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
        {{dif.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Limits</mat-label>
    <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
  </mat-form-field> 
  <div  id="uploadLabel">
  <mat-icon fontIcon="upload"></mat-icon>
  <input id="uploadProblem" type="file">
  <label for="uploadProblem" >Upload File</label>
  </div>
</div>

<div class="container" id="problemForm" *ngIf="noProblems>=2">
  <label>Problem 2</label>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Problem Name</mat-label>
    <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Difficulty</mat-label>
    <mat-select ngModel name="problemDiff[]" required>
      <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
        {{dif.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Limits</mat-label>
    <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
  </mat-form-field> 
  <div  id="uploadLabel">
  <mat-icon fontIcon="upload"></mat-icon>
  <input id="uploadProblem" type="file">
  <label for="uploadProblem" >Upload File</label>
  </div>
</div>

<div class="container" id="problemForm" *ngIf="noProblems>=3">
  <label>Problem 3</label>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Problem Name</mat-label>
    <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Difficulty</mat-label>
    <mat-select ngModel name="problemDiff[]" required>
      <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
        {{dif.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Limits</mat-label>
    <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
  </mat-form-field> 
  <div  id="uploadLabel">
  <mat-icon fontIcon="upload"></mat-icon>
  <input id="uploadProblem" type="file">
  <label for="uploadProblem" >Upload File</label>
  </div>
</div>

<div class="container" id="problemForm" *ngIf="noProblems>=4">
  <label>Problem 4</label>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Problem Name</mat-label>
    <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Difficulty</mat-label>
    <mat-select ngModel name="problemDiff[]" required>
      <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
        {{dif.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Limits</mat-label>
    <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
  </mat-form-field> 
  <div  id="uploadLabel">
  <mat-icon fontIcon="upload"></mat-icon>
  <input id="uploadProblem" type="file">
  <label for="uploadProblem" >Upload File</label>
  </div>
</div>

<div class="container" id="problemForm" *ngIf="noProblems>=5">
  <label>Problem 5</label>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Problem Name</mat-label>
    <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent">
    <mat-label>Difficulty</mat-label>
    <mat-select ngModel name="problemDiff[]" required>
      <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
        {{dif.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" id="problemField" color="accent">
    <mat-label>Limits</mat-label>
    <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
  </mat-form-field> 
  <div  id="uploadLabel">
  <mat-icon fontIcon="upload"></mat-icon>
  <input id="uploadProblem" type="file">
  <label for="uploadProblem" >Upload File</label>
  </div>
</div>

  <div id="problemForm" class="container" *ngIf="noProblems>=6">
    <label>Problem 6</label>

    <mat-form-field appearance="outline" id="problemField" color="accent">
      <mat-label>Problem Name</mat-label>
      <input ngModel name="problemName[]" matInput type="name" placeholder="Ex. Watermelon" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Difficulty</mat-label>
      <mat-select ngModel name="problemDiff[]" required>
        <mat-option *ngFor="let dif of difficulty" [value]="dif.value">
          {{dif.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" id="problemField" color="accent">
      <mat-label>Limits</mat-label>
      <input ngModel name="problemDiff[]"  matInput type="name" placeholder="Ex. Limits: 1 seconds / 1024 MB" value="Limits:" required>
    </mat-form-field> 
    <div  id="uploadLabel">
    <mat-icon fontIcon="upload"></mat-icon>
    <input id="uploadProblem" type="file">
    <label for="uploadProblem" >Upload File</label>
    </div>
  </div>

  <button id="newProblem" mat-raised-button color="warn" (click)="removeProblems()" *ngIf="noProblems>1">Remove Last Problem</button>
  <button id="newProblem" mat-raised-button color="primary" (click)="addProblems()" *ngIf="noProblems<6">Add New Problem</button>


  <button id="create" mat-raised-button color="accent" (click)="createContest(mainForm)">Create Contest</button>
</form>
