<form id="mainForm" #mainForm="ngForm" (ngSubmit)="createContest(mainForm)" >
<div id="contestDiv" *ngIf="!contestCreated"> 

<mat-form-field appearance="outline" id="contestForm">
  <mat-label>Contest Name</mat-label>
  <input ngModel name="contestName"  matInput type="name" placeholder="Ex. CodeHex Contest" required>
</mat-form-field>

<mat-form-field appearance="outline" id="contestForm">
  <mat-label>Start Time</mat-label>
  <input ngModel name="startTime" matInput type="datetime-local" placeholder="start date">
</mat-form-field>

<mat-form-field appearance="outline" id="contestForm">
  <mat-label>End Time</mat-label>
  <input ngModel name="endTime" matInput type="datetime-local" placeholder="start date">
</mat-form-field>

</div>


<div *ngFor="let problem of problems.controls; let i = index" class="container">

  <ng-container [formGroup]="problem" id="problemForm">
    <label>Problem {{i + 1}}</label>
  
    <mat-form-field appearance="outline" id="problemField" color="accent">
      <mat-label>Problem Name</mat-label>
      <input matInput formControlName="ProblemName" type="name" placeholder="Ex. Watermelon" required>
    </mat-form-field>

    <mat-form-field appearance="outline" id="problemField" color="accent">
      <mat-label>Time Limit</mat-label>
      <input  formControlName="ExecutionTime" matInput type="number" placeholder="Ex. Limit: 1 seconds" required>
    </mat-form-field> 
  
    <mat-form-field appearance="outline" id="problemField" color="accent">
      <mat-label>Memory Limit</mat-label>
      <input  formControlName="MemoryLimit" matInput type="number" placeholder="Ex. Limit: 1024 MB"  required>
    </mat-form-field> 
    <div  id="uploadLabel">
    <mat-icon fontIcon="upload"></mat-icon>
    <label> Problem </label>
    <input formControlName="ProblemDescription" id="uploadProblem" type="file" (change)="getfile($event)">
    <label for="uploadProblem" > File Upload</label>
    </div>
  </ng-container>
    
</div>

<button *ngIf="contestCreated" type="button" id="newProblem" mat-raised-button color="warn" (click)="removeProblems()" >Remove Last Problem</button>
<button *ngIf="contestCreated" type="button" id="newProblem" mat-raised-button color="primary" (click)="addProblems()">Add New Problem</button>
<button *ngIf="contestCreated" type="button" id="newProblem" mat-raised-button color="accent" (click)="finishContest()">Finish Contest</button>


<button *ngIf="!contestCreated" type="submit" id="newProblem" mat-raised-button color="accent" (click)="addProblems()">Create Contest</button>
</form>
