
<body>
    <main>
        <h1 id="codehex-title">CodeHex Problems</h1>
        <section>
            <article>
                <div class="problemname">
                    <h2>Problem 1</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Easy</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 2</h2>
                </div>
                <h3 id="limitsc">Limits: 2 seconds / 512 MB</h3>
                <h1>Difficulty : Medium</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 3</h2>
                </div>
                <h3 id="limitsc">Limits: 2 seconds / 512 MB</h3>
                <h1>Difficulty : Easy</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 4</h2>
                </div>
                <h3 id="limitsc">Limits: 1 seconds / 1024 MB</h3>
                <h1>Difficulty : Hard</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 5</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Medium</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 6</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Easy</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 7</h2>
                </div>
                <h3 id="limitsc">Limits: 1 seconds / 1024 MB</h3>
                <h1>Difficulty : Hard</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 8</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Hard</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 9</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Easy</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 10</h2>
                </div>
                <h3 id="limitsc">Limits: 2 seconds / 512 MB</h3>
                <h1>Difficulty : Medium</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 11</h2>
                </div>
                <h3 id="limitsc">Limits: 5 seconds / 512 MB</h3>
                <h1>Difficulty : Easy</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>
            <article>
                <div class="problemname">
                    <h2>Problem 12</h2>
                </div>
                <h3 id="limitsc">Limits: 1 seconds / 1024 MB</h3>
                <h1>Difficulty : Hard</h1>
                <button type="button" class="btn btn-info" id="view-btn">View</button>
                <button type="button" class="btn btn-success" id="submit-btn">Submit</button>
            </article>

        </section>
    </main>
</body>
